<?xml version="1.0"?>
<robot name="rover" xmlns:xacro="http://wiki.ros.org/xacro">
    <!-- includes -->
    <xacro:include filename="$(find robot_msr)/urdf/base/robot_base.urdf.xacro"/>
    <xacro:include filename="$(find robot_msr)/urdf/rueda/robot_rueda.urdf.xacro"/>
    <xacro:include filename="$(find robot_msr)/urdf/brazo/robot_brazo.urdf.xacro"/>

    <xacro:include filename="$(find robot_msr)/urdf/sensors/camera.urdf.xacro"/>
    <xacro:include filename="$(find robot_msr)/urdf/sensors/imu_sensor.urdf.xacro"/>
    <xacro:include filename="$(find robot_msr)/urdf/sensors/3d_lidar.urdf.xacro"/>
    <xacro:include filename="$(find robot_msr)/urdf/sensors/gps.urdf.xacro"/>

    <!-- Propiedades -->
    <xacro:property name="PI" value="3.1415926535897931"/>
    <xacro:property name="wheel_offset_x" value="1.75"/>
    <xacro:property name="wheel_offset_y" value="1.1"/>
    <xacro:property name="wheel_offset_z" value="-0.5"/>
    <xacro:property name="arm_offset_x" value="1.5"/>
    <xacro:property name="arm_offset_y" value="0.0"/>
    <xacro:property name="arm_offset_z" value="0.25"/>

    <!-- argumentos -->
    <xacro:arg name="robot_ns" default=""/>
    <xacro:arg name="prefix" default=""/>

    <!-- Robot Parts -->
    <!-- Base -->
    <xacro:robot_base prefix="$(arg prefix)"/>
    <!-- Wheels -->
    <xacro:robot_rueda prefix="front_right_" parent="base_link">
        <origin xyz="${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="${PI/2} 0 -${PI}"/>
    </xacro:robot_rueda>
    <xacro:robot_rueda prefix="back_right_" parent="base_link">
        <origin xyz="-${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="${PI/2} 0 -${PI}"/>
    </xacro:robot_rueda>
    <xacro:robot_rueda prefix="front_left_" parent="base_link">
        <origin xyz="${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="${PI/2} 0 0"/>
    </xacro:robot_rueda>
    <xacro:robot_rueda prefix="back_left_" parent="base_link">
        <origin xyz="-${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="${PI/2} 0 0"/>
    </xacro:robot_rueda>

    <!-- Brazo -->
    <xacro:robot_brazo parent="base_link">
        <origin xyz="${arm_offset_x} ${arm_offset_y} ${arm_offset_z}" rpy="0 0 0"/>
    </xacro:robot_brazo>

    <!-- sensores -->
    <xacro:sensor_camera node_name="front_camera" node_namespace="$(arg robot_ns)" frame_prefix="$(arg prefix)front_camera" parent="$(arg prefix)base_link" >
        <origin xyz="2 0.0 0.25" rpy="0 0 ${PI/2}"/>
    </xacro:sensor_camera>
    <xacro:sensor_camera node_name="arm_camera" node_namespace="$(arg robot_ns)" frame_prefix="$(arg prefix)arm_camera" parent="$(arg prefix)gripper_base_link" >
        <origin xyz="0.0 0.0 -0.02" rpy="0 ${PI/2} 0"/>
    </xacro:sensor_camera>
    <xacro:sensor_imu ns="$(arg robot_ns)" prefix="$(arg prefix)imu" parent="$(arg prefix)base_link">
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
    </xacro:sensor_imu>
    <xacro:sensor_3d_lidar node_namespace="$(arg robot_ns)" frame_prefix="$(arg prefix)front_laser" parent="$(arg prefix)base_link" simulation="true" gpu="true">
        <origin xyz="2 0 0" rpy="0 0 -${PI/2}"/>
    </xacro:sensor_3d_lidar>
    <xacro:sensor_gps  node_namespace="$(arg robot_ns)" frame_prefix="$(arg prefix)gps" parent="$(arg prefix)base_link" simulation="true">
        <origin xyz="1.0 0.0 0.25" rpy="0 0 0"/>
    </xacro:sensor_gps>

    <!-- Gazebo ROS control plugins -->
    <xacro:include filename="$(find robot_msr)/urdf/ros2_control.urdf.xacro"/>
    <xacro:arg name="config_controllers" default="$(find robot_msr)/config/robot_controllers.yaml"/>
    <xacro:arg name="update_rate" default="20"/>
    <xacro:ros2_control/>


</robot>